#!/usr/bin/make -f
#DH_VERBOSE = 1
DPKG_EXPORT_BUILDFLAGS = 1

include /usr/share/dpkg/default.mk
include /usr/share/dpkg/pkg-info.mk

%:
	dh $@

# Remove executable bit from CSS files, etc.
override_dh_fixperms:
	dh_fixperms
	find debian/$(PACKAGE) -type f -perm 755 -print -exec chmod 644 {} \;
